@charset "UTF-8";
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: "Lato", "Arial", sans-serif;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 36px; }

.container {
  width: 1140px;
  margin: 0 auto; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .container {
      width: 95.8%; } }
  @media (max-width: 599px) {
    .container {
      width: 95.7%; } }

.clearfix:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0); }

.selected-pink {
  color: #F16D7F; }

.wrap-padding {
  padding-top: 96px;
  padding-bottom: 128px; }

.wrap-flex-space-betwen {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: inherit; }

.header {
  position: relative;
  background-color: #222222; }
  .header .header__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    min-height: 75px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      .header .header__container {
        width: 91.7%; } }
    @media (max-width: 599px) {
      .header .header__container {
        width: 96%; } }
  .header .header__button {
    background-color: transparent;
    border: none; }
    .header .header__button:hover, .header .header__button:focus {
      opacity: .8; }
    .header .header__button:active {
      opacity: .5; }
  .header .header__logo {
    margin: 0 41px 0 0; }
  .header .header__search {
    margin: 18px 0 0; }
  .header .header__button-cart {
    position: relative; }
  .header .header__button-cart::after {
    content: "5";
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: #F16D7F;
    border-radius: 50%;
    top: 0px;
    right: 0px; }
  .header .header__menu-list,
  .header .header__logo-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .header .header__menu-item:not(:last-of-type) {
    margin: 0 34px 0 0; }
    @media (max-width: 599px) {
      .header .header__menu-item:not(:last-of-type) {
        margin: 0; } }
  @media (max-width: 599px) {
    .header .header__menu-item--icon-profile {
      display: none; } }
  @media (max-width: 599px) {
    .header .header__menu-item--icon-bascket {
      display: none; } }
  .header .header__navigation {
    background-color: #fff;
    height: 764px;
    width: 232px;
    padding: 34px 37px;
    border-radius: 0px;
    position: absolute;
    right: 0;
    z-index: 1;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
            box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }
    @media (min-width: 600px) and (max-width: 1199px) {
      .header .header__navigation {
        display: none; } }
    @media (max-width: 599px) {
      .header .header__navigation {
        display: none; } }
  .header .header__navigation-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase; }
  .header .header__navigation-list {
    padding-top: 24px; }
  .header .header__navigation-item {
    padding-top: 20px; }
  .header .header__navigation-sub-title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: #F16D7F; }
  .header .header__navigation-sub-list {
    padding-left: 21px; }
  .header .header__navigation-href {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none; }
    .header .header__navigation-href:hover {
      color: #222222; }
    .header .header__navigation-href:active {
      color: #F16D7F; }
  .header .header__item {
    font-size: 24px;
    line-height: 29px; }

.name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 599px) {
    .name {
      min-height: 363px; } }

.name__header-span {
  font-style: normal;
  font-weight: 700;
  color: #F16D7F;
  font-size: 32px;
  line-height: 38px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .name__header-span {
      font-size: 24px;
      line-height: 29px; } }
  @media (max-width: 599px) {
    .name__header-span {
      font-size: 20px;
      line-height: 24px; } }

.name__header-sub-tittle {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .name__header-sub-tittle {
      font-size: 24px;
      line-height: 29px; } }
  @media (max-width: 599px) {
    .name__header-sub-tittle {
      font-size: 20px;
      line-height: 24px; } }

.name__header {
  text-transform: uppercase; }

.name__header-tittle {
  font-style: normal;
  font-weight: 900;
  font-size: 48px;
  line-height: 58px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .name__header-tittle {
      font-size: 44px;
      line-height: 52px; } }
  @media (max-width: 599px) {
    .name__header-tittle {
      font-size: 38px;
      line-height: 46px; } }

.name__content {
  width: 100%;
  padding: 0 0 0 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F1E4E6; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .name__content {
      padding: 0 0 0 40px; } }
  @media (max-width: 599px) {
    .name__content {
      padding: 0;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }

.name__header {
  position: relative;
  padding: 0 0 0 16px; }
  .name__header::before {
    position: absolute;
    content: '';
    width: 12px;
    height: 100%;
    background-color: #F16D7F;
    left: -12px; }

@media (min-width: 600px) and (max-width: 1199px) {
  .name__img {
    width: 50%;
    height: auto; } }
@media (max-width: 599px) {
  .name__img {
    display: none; } }

.stock {
  padding: 63px 0 0; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .stock {
      padding: 19px 0 0; } }
  @media (max-width: 599px) {
    .stock {
      padding: 48px 0 0; } }

.stock__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-line-pack: justify;
      align-content: space-between; }
  @media (max-width: 599px) {
    .stock__list {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-line-pack: center;
          align-content: center; } }

.stock__item {
  position: relative;
  width: 360px;
  min-height: 260px;
  background-size: cover; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .stock__item {
      width: 31.5%;
      min-height: 168px; } }
  @media (max-width: 599px) {
    .stock__item {
      width: 343px;
      min-height: 247px; } }
  @media (max-width: 599px) {
    .stock__item:not(:last-child) {
      margin: 0 0 32px 0; } }

.stock__link {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  max-width: 360px;
  min-height: 260px;
  z-index: 1;
  margin: 0 auto; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .stock__link {
      width: 100%;
      min-height: 168px; } }
  .stock__link:hover {
    opacity: 0.8; }
  .stock__link:active {
    opacity: 0.5; }
  .stock__link::after {
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(33, 22, 22, 0.7);
    top: 0;
    right: 0; }
  .stock__link--last {
    width: 100%;
    min-height: 180px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      .stock__link--last {
        width: 100%;
        min-height: 116px; } }

.stock__item-name {
  color: #fff;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  text-align: center;
  z-index: 1;
  text-transform: uppercase; }

.stock__item-category {
  font-weight: 700;
  text-align: center;
  color: #F16D7F;
  text-transform: uppercase;
  z-index: 1;
  font-size: 24px;
  line-height: 29px; }

.stock__item--women {
  background-image: url(../img/stock-women.jpg); }

.stock__item--men {
  background-image: url(../img/men.jpg); }

.stock__item--kids {
  background-image: url(../img/kids.jpg); }

.stock__item--last {
  width: 100%;
  min-height: 180px;
  background-image: url(../img/accesories.jpg);
  margin-top: 30px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .stock__item--last {
      width: 100%;
      min-height: 116px;
      margin-top: 19px; } }
  @media (max-width: 599px) {
    .stock__item--last {
      width: 343px;
      margin-top: 0; } }

.fetured .fetured__header {
  text-align: center;
  margin: 96px 0 48px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .fetured .fetured__header {
      margin: 154px 0 74px; } }
  @media (max-width: 599px) {
    .fetured .fetured__header {
      margin: 64px 0 65px; } }
.fetured .fetured__title {
  font-size: 30px;
  line-height: 36px; }
.fetured .fetured__text {
  font-size: 14px;
  line-height: 17px;
  color: #9F9F9F; }
.fetured .fetured__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  /*align-content: space-between;*/
  margin: 48px 0 18px; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .fetured .fetured__items {
      margin: 72px 0 3px;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  @media (max-width: 599px) {
    .fetured .fetured__items {
      margin: 0 0 41px;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center; } }
  @media (max-width: 752px) {
    .fetured .fetured__items {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -ms-flex-line-pack: center;
          align-content: center; } }
.fetured .fetured-item {
  width: 360px;
  min-height: 581px;
  background: #F8F8F8;
  margin: 0 0 30px 0; }
  @media (max-width: 599px) {
    .fetured .fetured-item {
      margin: 0 0 16px 0; }
      .fetured .fetured-item:last-child {
        margin: 0; } }
  .fetured .fetured-item .fetured-item__link {
    text-decoration: none; }
  .fetured .fetured-item .fetured-item__image {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 360px;
    min-height: 420px; }
    .fetured .fetured-item .fetured-item__image--before {
      position: absolute;
      width: 360px;
      min-height: 420px;
      top: 0;
      left: 0;
      background: rgba(58, 56, 56, 0.86);
      opacity: 0; }
    .fetured .fetured-item .fetured-item__image:hover {
      opacity: 1; }
    .fetured .fetured-item .fetured-item__image--before:hover {
      opacity: 1; }
    .fetured .fetured-item .fetured-item__image:active::before {
      opacity: 0.75; }
    .fetured .fetured-item .fetured-item__image--before-button {
      display: block;
      max-width: 138px;
      min-height: 43px;
      margin: 188px auto;
      border: 1px solid #FFFFFF;
      background: url(../img/vectorcart.png) no-repeat 15px 7px;
      font-size: 14px;
      line-height: 42px;
      color: #fff;
      text-align: center;
      top: 185px;
      left: 120px;
      padding-left: 33px;
      -webkit-box-sizing: border-box;
              box-sizing: border-box; }
      .fetured .fetured-item .fetured-item__image--before-button:hover {
        border: 1px solid #F16D7F; }
      .fetured .fetured-item .fetured-item__image--before-button:active {
        opacity: 0.5; }
    .fetured .fetured-item .fetured-item__image--png {
      background: #F7E4E2; }
  .fetured .fetured-item .fetured-item__inner {
    padding: 25px 28px 20px 16px; }
  .fetured .fetured-item .fetured-item__title {
    font-size: 13px;
    line-height: 16px;
    color: #222222;
    text-transform: uppercase; }
  .fetured .fetured-item .fetured-item__text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5D5D5D;
    margin-top: 12px; }
  .fetured .fetured-item .fetured-item__cost {
    font-size: 16px;
    line-height: 19px;
    color: #F16D7F;
    margin-top: 18px; }
.fetured .fetured__more {
  text-align: center; }
.fetured .fetured__button {
  display: block;
  width: 211px;
  height: 47px;
  border: none;
  text-decoration: none;
  font-size: 16px;
  border: 1px solid #FF6A6A;
  color: #F16D7F;
  margin: 0 auto;
  line-height: 50px; }
  .fetured .fetured__button:hover {
    background-color: #F16D7F;
    color: #fff; }
  .fetured .fetured__button:active {
    opacity: 0.45; }

.advantages {
  min-height: 341px;
  background: #222222;
  margin-top: 95px;
  padding: 104px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .advantages {
      margin-top: 65px;
      padding: 48px 0 64px; } }
  .advantages .advantages__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
    @media (min-width: 600px) and (max-width: 1199px) {
      .advantages .advantages__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
    @media (max-width: 599px) {
      .advantages .advantages__list {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column; } }
  .advantages .advantages__item {
    text-align: center; }
    .advantages .advantages__item:not(:last-child) {
      margin: 0 30px 0 0; }
      @media (min-width: 600px) and (max-width: 1199px) {
        .advantages .advantages__item:not(:last-child) {
          margin: 0 0 48px 0; } }
      @media (max-width: 599px) {
        .advantages .advantages__item:not(:last-child) {
          margin: 0 0 48px 0; } }
  .advantages .advantages__icon {
    width: 50px;
    height: 50px;
    display: inline-block; }
  .advantages .advantages__icon-icon1 {
    background: url(../img/car.svg) no-repeat; }
  .advantages .advantages__icon-icon2 {
    background: url(../img/sales.svg) no-repeat; }
  .advantages .advantages__icon-icon3 {
    background: url(../img/royal.svg) no-repeat; }
  .advantages .advantages__title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    text-align: center; }
  .advantages .advantages__text {
    font-size: 14px;
    line-height: 17px;
    font-weight: 300;
    text-align: center;
    color: #FBFBFB;
    padding: 20px 20px 0 20px;
    max-width: 360px; }
    @media (min-width: 600px) and (max-width: 1199px) {
      .advantages .advantages__text {
        margin: 0 auto; } }
    @media (max-width: 599px) {
      .advantages .advantages__text {
        margin: 0 auto; } }

.subscribe {
  min-height: 448px;
  background: url(../img/bg_grey.jpg) no-repeat;
  position: relative;
  background-size: cover; }
  .subscribe::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(244, 244, 244, 0.7); }

.subscribe__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding: 87px 0 126px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .subscribe__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 54px 0 140px; } }
  @media (max-width: 599px) {
    .subscribe__row {
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      padding: 54px 0 140px; } }

.subscribe__quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.subscribe__quote-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  width: 360px; }
  @media (max-width: 599px) {
    .subscribe__quote-text {
      font-size: 19px;
      line-height: 23px; } }

.subscribe__quote-image {
  margin-bottom: 30px; }

.subscribe__form {
  text-align: center;
  color: #222222;
  margin-top: 63px; }

.subscribe__form-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 38px;
  text-transform: uppercase; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .subscribe__form-title {
      font-size: 24px;
      line-height: 29px; } }
  @media (max-width: 599px) {
    .subscribe__form-title {
      font-size: 24px;
      line-height: 37px; } }

.subscribe__form-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  margin: 0 0 32px 0;
  text-transform: uppercase; }
  @media (min-width: 600px) and (max-width: 1199px) {
    .subscribe__form-text {
      margin: 0 0 27px 0;
      font-size: 18px;
      line-height: 27px; } }
  @media (max-width: 599px) {
    .subscribe__form-text {
      margin: 0 0 22px 0;
      font-size: 14px;
      line-height: 21px; } }

.subscribe__form-input {
  background: #E1E1E1;
  width: 256px;
  height: 49px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  padding-left: 20px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #222224;
  opacity: 0.67; }
  @media (max-width: 599px) {
    .subscribe__form-input {
      width: 245px; } }

.subscribe__form-button {
  width: 100px;
  height: 49px;
  background-color: #F16D7F;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border: none;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #fff; }
  @media (max-width: 599px) {
    .subscribe__form-button {
      width: 95px; } }

.subscribe__form-button:focus, .subscribe__form-input:focus {
  outline: none; }

.subscribe__form-button:hover {
  opacity: 0.8; }

.subscribe__form-button:active {
  opacity: 0.5; }

/* лента с копирайтом*/
.feed {
  height: 79px;
  background: #222222; }

.feed__wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }

.feed__copyright {
  font-size: 16px;
  line-height: 19px;
  color: #FBFBFB; }

.feed__social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.feed__social-item {
  width: 30px;
  height: 30px;
  background: #fff;
  margin-right: 7px; }

.feed__social-item:last-child {
  margin-right: 0px; }

.feed__social-item:hover {
  background: #F16D7F; }

.feed__icon:hover {
  fill: #fff; }

.feed__link {
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.nav-box {
  height: 148px;
  background: #F8F3F4; }

.nav-box__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%; }
  @media (max-width: 599px) {
    .nav-box__flex {
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column; } }

.nav-box__title {
  font-size: 24px;
  line-height: 29px;
  color: #F16D7F;
  text-transform: uppercase; }

.nav-box__breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin: 32px 0 0 0; }

.nav-box__breadcrumbs-link {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: #636363;
  text-decoration: none; }
  .nav-box__breadcrumbs-link:hover {
    opacity: 0.85; }
  .nav-box__breadcrumbs-link:active {
    opacity: 0.5; }
  .nav-box__breadcrumbs-link--last {
    color: #F16D7F;
    font-weight: 700; }

.nav-box__breadcrumbs-item:not(:last-of-type):after {
  content: "/";
  font-size: 14px;
  line-height: 17px;
  color: #636363;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px; }

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 51px;
  position: relative; }
  .filter .filter__list {
    margin: auto 30%; }
    @media (min-width: 600px) and (max-width: 1199px) {
      .filter .filter__list {
        margin: 0 0 0 auto; } }
    @media (max-width: 599px) {
      .filter .filter__list {
        margin: 0 0 0 auto; } }
  .filter .filter__item {
    display: inline; }
  .filter .filter__header * {
    display: inline; }
  .filter .filter__title {
    font-weight: 600;
    font-size: 14px;
    line-height: 27px;
    color: #000;
    text-transform: uppercase; }
    @media (max-width: 599px) {
      .filter .filter__title {
        display: none; } }
  .filter .filter__link {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-transform: uppercase;
    text-decoration: none; }
    @media (max-width: 599px) {
      .filter .filter__link {
        font-size: 12px;
        line-height: 14px; } }
    .filter .filter__link::after {
      content: "";
      display: inline-block;
      width: 11px;
      height: 11px;
      margin-right: 27px;
      margin-left: 10px;
      background: url(../img/catalog/down-arrow.svg) no-repeat 0 bottom; }
    .filter .filter__link:hover {
      opacity: 0.8; }
    .filter .filter__link:active {
      opacity: 0.5; }

.filter__nav {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  width: 360px;
  padding: 17px;
  background: #fff;
  z-index: 5;
  -webkit-box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
          box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21); }
  @media (min-width: 600px) and (max-width: 1199px) {
    .filter__nav {
      display: none; } }
  @media (max-width: 599px) {
    .filter__nav {
      display: none; } }

.filter__nav-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline; }

.filter__nav-title {
  font-weight: 600;
  font-size: 14px;
  line-height: 27px;
  color: #F16D7F;
  text-transform: uppercase; }

.filter__nav-icon {
  padding-left: 11px; }

.filter__nav-list {
  margin-top: 16px; }

.filter__nav-link {
  font-size: 14px;
  line-height: 17px;
  color: #EF5B70;
  text-decoration: none;
  text-transform: uppercase;
  display: block;
  height: 37px;
  border-bottom: 1px solid #EBEBEB;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 11px; }
  .filter__nav-link:hover {
    opacity: 0.5; }
  .filter__nav-link:active {
    background: #F1E4E6; }

.filter__nav-item {
  position: relative;
  margin-top: 20px; }
  .filter__nav-item::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 5px;
    height: 37px;
    background: #EF5B70; }

.filter__nav-sub-list {
  padding-left: 11px; }

.filter__nav-sub-link {
  font-size: 14px;
  line-height: 17px;
  text-decoration: none;
  color: #6F6E6E; }
  .filter__nav-sub-link:hover {
    color: #222222; }
  .filter__nav-sub-link:active {
    color: #F16D7F; }

.filter__icon-img {
  width: 10px;
  height: 15px; }
  @media (max-width: 599px) {
    .filter__icon-img {
      width: 37px;
      height: 25px; } }

.registration {
  padding-top: 64px;
  padding-bottom: 96px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.registration_name {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300; }

.registration__form input[type="text"],
.registration__form input[type="email"],
.registration__form input[type="password"] {
  display: block;
  width: 360px;
  height: 45px;
  border: 1px solid #B1B1B1;
  margin-top: 21px;
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
  padding-left: 16px; }
  .registration__form input[type="text"]:hover, .registration__form input[type="text"]:active,
  .registration__form input[type="email"]:hover,
  .registration__form input[type="email"]:active,
  .registration__form input[type="password"]:hover,
  .registration__form input[type="password"]:active {
    outline: none;
    border: 1px solid #797979; }
  .registration__form input[type="text"]:focus,
  .registration__form input[type="email"]:focus,
  .registration__form input[type="password"]:focus {
    outline: none;
    border: 1px solid #F16D7F; }

.registration__gender {
  margin: 30px 0; }

.registration__radio {
  visibility: hidden; }
  .registration__radio:checked + .registration__radio-text::before {
    background-color: #F16D7F; }

.registration__radio-text {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  position: relative;
  margin-bottom: 35px;
  margin-right: 20px; }
  .registration__radio-text::before {
    content: "";
    position: absolute;
    width: 17px;
    height: 17px;
    border: 1px solid #B1B1B1;
    border-radius: 50%;
    top: -3px;
    left: -26px; }

.registration__password-text {
  font-size: 13px;
  line-height: 16px;
  font-weight: 300;
  color: #B1B1B1;
  display: inline-block;
  width: 360px;
  margin-top: 15px;
  margin-bottom: 39px; }

.registration__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 167px;
  height: 50px;
  background: #F16D7F;
  color: #fff;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  border: none; }
  .registration__button:focus {
    outline: none; }
  .registration__button:hover {
    opacity: 0.8; }
  .registration__button:active {
    opacity: 0.5; }
  .registration__button::after {
    content: "";
    display: block;
    width: 17px;
    height: 10px;
    background-image: url("../img/arrow-image.svg");
    margin-left: 20px; }

.registration__text {
  padding-left: 128px;
  font-size: 24px;
  line-height: 29px;
  color: #000;
  font-weight: 300; }

.registration__title {
  text-transform: uppercase;
  margin-top: 21px; }

.registration__description {
  margin-top: 22px; }

.registration__list {
  list-style-image: url(../img/registration-item.svg);
  margin-top: 21px; }

.registration__item {
  padding-bottom: 16px; }

.cart__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  height: 306px;
  -webkit-filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
          filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  margin-bottom: 40px; }

.cart__item-text {
  background: #fff;
  padding-left: 31px;
  padding-top: 22px;
  padding-right: 97px; }

.cart__item-title {
  font-size: 24px;
  line-height: 29px;
  color: #222222;
  text-transform: uppercase;
  margin-bottom: 42px;
  padding-right: 54px; }

.cart__item-item {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
  padding-bottom: 6px; }

.cart__item-td {
  display: inline-block;
  font-size: 18px;
  line-height: 22px;
  color: #656565;
  padding: 0 16px;
  border: 1px solid #EAEAEA;
  margin-left: 24px; }

.cart__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 652px;
  margin-top: 72px; }

.cart__nav-button {
  border: 1px solid #B1B1B1;
  display: block;
  width: 234px;
  height: 49px;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  background-color: #fff; }
  .cart__nav-button:focus {
    outline: none;
    border: 1px solid #F16D7F; }
  .cart__nav-button:hover {
    -webkit-filter: drop-shadow(0 0 2px rgba(148, 148, 148, 0.733));
            filter: drop-shadow(0 0 2px rgba(148, 148, 148, 0.733)); }

.shipping__title {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  text-transform: uppercase; }

.shipping__form {
  margin-bottom: 57px; }
  .shipping__form input[type="text"] {
    display: block;
    width: 360px;
    height: 45px;
    border: 1px solid #B1B1B1;
    margin-top: 21px;
    font-size: 13px;
    line-height: 16px;
    font-weight: 300;
    color: #B1B1B1;
    padding-left: 16px; }
    .shipping__form input[type="text"]:hover, .shipping__form input[type="text"]:active {
      outline: none;
      border: 1px solid #797979; }
    .shipping__form input[type="text"]:focus {
      outline: none;
      border: 1px solid #F16D7F; }
    .shipping__form input[type="text"]:focus {
      color: #B1B1B1; }

.shipping__button {
  font-size: 11px;
  line-height: 13px;
  font-weight: 300;
  color: #B1B1B1;
  border: 1px solid #B1B1B1;
  background: #fff;
  text-transform: uppercase;
  width: 100px;
  height: 34px;
  margin-top: 24px; }
  .shipping__button:focus {
    outline: none;
    border: 1px solid #F16D7F; }
  .shipping__button:hover {
    border: 1px solid #222; }
  .shipping__button:active {
    border: 1px solid #F16D7F; }

.shipping__total {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 214px;
  background: #F5F3F3;
  padding: 39px 34px 42px 43px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.shipping__sub-total {
  font-size: 11px;
  line-height: 13px;
  color: #B1B1B1;
  text-align: right;
  text-transform: uppercase; }

.shipping__grang-total {
  font-size: 16px;
  line-height: 19px;
  font-weight: 300;
  color: #222222;
  text-align: right;
  text-transform: uppercase;
  margin-top: 10px; }

.shipping__cost {
  padding-left: 40px; }

.shipping__total-button {
  position: relative;
  display: block;
  width: 273px;
  height: 50px;
  background-color: #F16D7F;
  font-size: 16px;
  line-height: 19px;
  color: #fff;
  border: none;
  text-transform: uppercase;
  margin-top: 39px; }
  .shipping__total-button:focus {
    outline: none; }
  .shipping__total-button:hover {
    opacity: 0.8; }
  .shipping__total-button:active {
    opacity: 0.5; }
  .shipping__total-button::before {
    display: block;
    position: absolute;
    content: "";
    width: 275px;
    height: 1px;
    background: #E2E2E2;
    top: -17px;
    left: -1px; }

.pagination {
  text-align: center; }

.pagination__list {
  display: inline-block;
  background: #fff;
  border: 1px solid #EBEBEB;
  border-radius: 8px;
  padding: 10px 15px; }

.pagination__item {
  display: inline-block;
  text-align: center;
  padding-right: 15px; }
  .pagination__item:last-child, .pagination__item:nth-child(7) {
    padding-right: 0px; }

.pagination__link {
  text-decoration: none;
  font-size: 16px;
  font-weight: 300;
  color: #6F6E6E; }
  .pagination__link:hover {
    color: #EF5B70; }
  .pagination__link:active {
    color: #222222; }

/*# sourceMappingURL=style.css.map */