:root {
    --black-color: #222222;
    --pink-color: #F16D7F;
    --pink-background: #F1E4E6;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
  }

body {
    font-family: 'Lato', 'Arial', sans-serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px;
}

.relative {
    position: relative;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
    }
    

.container {
    width: 1140px;
    margin: 0 auto;
}


.header {
    position: relative;
    background-color: var(--black-color);
    
}

.header__container {
    display: flex;
    min-height: 75px;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    margin: 0 41px 0 0;
}

.header__search {
    margin: 18px 0 0;
}

.header__button {
    background-color: transparent;
    border: none;
}

.header__button:hover, 
.header__button:focus {
    opacity: .8;
}

.header__button:active {
    opacity: .5;
}

.header__button-cart {
    position: relative;
}

.header__button-cart::after {
    content:"5";
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: absolute;
    width: 19px;
    height: 19px;
    background-color: var(--pink-color);
    border-radius: 50%;
    top: 0px;
    right:0px;
}

.header__menu-list,
.header__logo-container {
    display: flex;
    align-items: center;
}

.header__menu-item:not(:last-of-type) {
    margin: 0 34px 0 0;
}

.header__navigation {
    background-color: #fff;
    height: 764px;
    width: 232px;
    padding: 34px 37px;
    border-radius: 0px;
    position: absolute;
    right:0;
    z-index: 1;
    box-sizing: border-box;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}

.header__navigation-title {
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
}

.header__navigation-list{
    padding-top: 24px;
}

.header__navigation-item {
    padding-top: 20px;
}

.header__navigation-sub-title {
    font-size: 14px;
    line-height: 17px;
    text-transform: uppercase;
    color: var(--pink-color)
}

.header__navigation-sub-list {
    padding-left: 21px;
}

.header__navigation-href {
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    text-decoration: none;
}

.header__navigation-href:hover{
    color: #222;
}

.header__navigation-href:active{
    color: var(--pink-color);
}

.name {
    display: flex;
}

.name__header-span {
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 38px;
    color: var(--pink-color);
}

.name__header-span-size {
    font-size: 32px;
}

.name__header {
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    text-transform: uppercase;
}

.name__content {
    width: 100%;
    padding: 335px 0 0 64px;
    background-color: var(--pink-background);
}

.name__header {
    position: relative;
    padding: 0 0 0 16px;
}

.name__header::before{
    position: absolute;
    content: '';
    width: 12px;
    height: 100%;
    background-color: var(--pink-color);
    left: -12px;
}

.stock {
    margin-top: 63px;
}

.stock__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 470px;
    align-content: space-between;
}

.stock__item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 360px;
    height: 260px;
    /* text-align: center; */
    /* padding-top: 105px; */
    /* box-sizing: border-box; */
}

.stock__item::after{
    display: block;
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(33, 22, 22, 0.7);
    top: 0;
    right: 0;

}

.stock__item-name {
    color:#fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 19px;
    text-align: center;
    z-index: 1;
}

.stok_item-category {
    font-size: 24px;
    font-weight: 700;
    line-height: 29px;
    text-align: center;
    color: var(--pink-color);
    text-transform: uppercase;
    z-index: 1;
}

.stock__item-women {
    background-image: url(../img/stock-women.jpg);  
}

.stock__item-men {
    background-image: url(../img/men.jpg);  
}

.stock__item-kids {
    background-image: url(../img/kids.jpg);  
}

.stock__item--last {
    width: 100%;
    height: 180px;
    background-image: url(../img/accesories.jpg);
}

