$black-color: #222222;
$black-black: #000;
$pink-color: #F16D7F;
$pink-background: #F1E4E6;
$grey-border: #A4A4A4;
$pink-nav:  #F8F3F4;
$grey-nav: #636363;
$grey-border: #B1B1B1;
$white-color: #fff;
$pink-shipping: #F5F3F3;
$dark-black:  #222222;
$light-grey: #E2E2E2;
$pink-advantages: #FBFBFB;
$grey-cart: #575757;
$grey-bg-cart: #656565;
$dark-grey: #9F9F9F;
$bg-image-articule: #F7E4E2;
$grey-text: #5D5D5D;
$pink-button: #FF6A6A;
$grey-link: #6F6E6E;
$pink-nav-link: #EF5B70;
$grey-pagination: #EBEBEB;
