.advantages{
    height: 341px;
    background: $dark-black;
    margin-top: 95px;
    padding-top: 104px;
    box-sizing: border-box;

    .advantages__list {
        display: flex;
        flex-direction: row;    
    }
    
    .advantages__item{
        text-align: center;
        &:not(:last-child) {
            margin-right: 30px;
        }
    }
    
    .advantages__icon {
        width: 50px;
        height: 50px;
        display: inline-block;
    }
    
    .advantages__icon-icon1 {
    background: url(../img/car.svg) no-repeat;
    }
    
    .advantages__icon-icon2 {
        background: url(../img/sales.svg) no-repeat;
    }
    
    .advantages__icon-icon3 {
        background: url(../img/royal.svg) no-repeat;
    }
    
    .advantages__title{
        @include font(20px,24px);
        color: #FBFBFB;
        text-align: center;
    }
    
    .advantages__text {
        @include font(14px,17px);
        font-weight: 300;
        text-align: center;
        color: $pink-advantages;
        padding: 20px;
    }
}    

