.cart__item {
    display: flex;
    width: 652px;
    height: 306px;
    filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
    margin-bottom: 40px;
}

.cart__item-text {
    background: $white-color;
    padding-left: 31px;
    padding-top: 22px;
    padding-right: 97px;
}

.cart__item-title {
    @include font(24px,29px);
    color: $dark-black;
    text-transform: uppercase;
    margin-bottom: 42px;
    padding-right: 54px;
}

.cart__item-item {
    @include font (22px, 26px);
    color: $grey-cart;
    padding-bottom: 6px;
}

.cart__item-td {
    display: inline-block;
    @include font (18px, 22px);
    color: $grey-bg-cart;
    padding: 0 16px;
    border: 1px solid #EAEAEA;
    margin-left: 24px;
}

.cart__nav {
    @include flex-center-space-between;
    width: 652px;
    margin-top: 72px;
   
}
.cart__nav-button {
    border: 1px solid $grey-border;
    display: block;
    width: 234px;
    height: 49px;
    @include font (14px,17px);
    text-transform: uppercase;
    background-color: #fff;

    &:focus {
        outline: none;
        border: 1px solid $pink-color;
    }
    &:hover {
        filter: drop-shadow(0 0 2px rgba(148, 148, 148, 0.733));
    }

}