.feed {
    height: 79px;
    background: #222224;
}

.feed__wrap {
    @include flex-center-space-between;
    height: 100%;

}

.feed__copyright {
    @include font(16px,19px);
    color: #FBFBFB;
}

.feed__social-list{
    display: flex;

}

.feed__social-item {
    width: 30px;
    height: 30px;
    background: #FFFFFF;
    margin-right: 7px;
    

}
.feed__social-item:last-child {
    margin-right: 0px;
}

.feed__social-item:hover {
    background: $pink-color;
    }

.feed__icon:hover{
    fill: #fff;
} 

.feed__link {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}