.fetured {
    
    .fetured__header {
        text-align: center;
        margin: 96px 0 48px;

        @include tablet {
            margin: 154px 0 74px;
        }

        @include mobile {
            margin: 64px 0 65px;
        }
    }
    .fetured__title {
        @include font (30px, 36px);             
    }
    
    .fetured__text {
        @include font(14px, 17px);
        color: $dark-grey;    
    }

    .fetured__items {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        /*align-content: space-between;*/
        margin: 48px 0 18px;

        @include tablet {
            margin: 72px 0 3px;
            justify-content: space-between;
        }
       
        @include mobile {
            margin: 0 0 41px;
            justify-content: center;
        }
        
        @include breakpoint_down (752px) {
            flex-direction: column;
            align-content: center;            
        }
    }

    .fetured-item {
        width: 360px;
        min-height: 581px;
        background: #F8F8F8;
        margin: 0 0 30px 0;

        @include mobile {
            margin: 0 0 16px 0; 
            &:last-child {
                margin: 0;
            }
        }        


        .fetured-item__link {
            text-decoration: none;
        }    
        
        .fetured-item__image {
            position: relative;
            display: flex;
            justify-content: center;
            width: 360px;
            min-height: 420px;
            
            &--before {
                position: absolute;
                width: 360px;
                min-height: 420px;
                top: 0;
                left: 0 ;
                background: rgba(58, 56, 56, 0.86);
                opacity: 0;
            }
            &:hover {opacity: 1;};
            
            &--before:hover {
                opacity: 1;  
            } 
            
            &:active::before {
                opacity: 0.75;  
            } 
            
            &--before-button {
                display: block;
                max-width: 138px;
                min-height: 43px;
                margin: 188px auto;
                border: 1px solid #FFFFFF;
                background: url(../img/vectorcart.png) no-repeat 15px 7px;
                font-size: 14px;
                line-height: 42px;
                color: #fff;
                text-align: center;
                top: 185px;
                left: 120px;
                padding-left: 33px;
                box-sizing: border-box; 
                
                &:hover {
                    border: 1px solid $pink-color;  
                }

                &:active {
                    opacity: 0.5;
                }
            }
            
            &--png{
                background: $bg-image-articule;                
            }
        }
        
        .fetured-item__inner {
            padding: 25px 28px 20px 16px;
        }
        
        .fetured-item__title {
            font-size: 13px;
            line-height: 16px;
            color: $black-color;
            text-transform: uppercase;
        }
             
        .fetured-item__text {
            font-weight: 300;
            font-size: 14px;
            line-height: 17px;
            color: $grey-text;
            margin-top: 12px;
        }
        
        .fetured-item__cost {
            font-size: 16px;
            line-height: 19px;
            color: $pink-color;
            margin-top: 18px;            
        } 
    } 
    
    .fetured__more {
        text-align:center;
    }
    
    .fetured__button {
        display: block;
        width: 211px;
        height: 47px;
        border: none;
        text-decoration: none;
        font-size: 16px;
        border: 1px solid $pink-button;
        color: $pink-color;
        margin: 0 auto;
        line-height: 50px;

        &:hover {
            background-color: $pink-color;
            color: $white-color;
        }
            
        &:active {
            opacity: 0.45;
        }
    }       
}



