.filter {
    display: flex;
    margin-top: 51px;
    position: relative;

    .filter__list {
        margin: auto 30%;
        @include tablet {
            margin: 0 0 0 auto;
        }          
        @include mobile {
            margin: 0 0 0 auto;
        } 
    }
    
    .filter__item {
        display: inline;
    }
    
    .filter__header * {
        display: inline;
    }  

    .filter__title {
        font-weight: 600;
        @include font (14px, 27px);
        color: $black-black;
        text-transform: uppercase;
        @include mobile {
            display: none;
        }   
    }
    
    .filter__link {
        @include font (14px, 17px);
        color: $grey-link;
        text-transform: uppercase;
        text-decoration: none;

        @include mobile {
            @include font (12px, 14px); 
        }

        &::after{
            content: ""; 
            display: inline-block;
            width: 11px;
            height: 11px;
            margin-right: 27px;
            margin-left: 10px;
            background: url(../img/catalog/down-arrow.svg) no-repeat 0 bottom;
        }
            
        &:hover {
            opacity: 0.8;
        }        
        &:active {
            opacity: 0.5;
        }
        
    }   
    
}

.filter__nav {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 360px;
    padding: 17px;
    background: $white-color;
    z-index: 5;
    box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);

    @include tablet {
        display: none;
    }

    @include mobile {
        display: none;
    }
}

.filter__nav-header {
    display: flex;
    align-items: baseline;
}

.filter__nav-title {
    font-weight: 600;
    @include font (14px, 27px);
    color: $pink-color;
    text-transform: uppercase;    
}

.filter__nav-icon {
    padding-left: 11px;
}

.filter__nav-list {
    margin-top: 16px;        
}

.filter__nav-link {
    @include font (14px, 17px);
    color: $pink-nav-link;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    height: 37px;
    border-bottom: 1px solid #EBEBEB;
    display: flex;
    align-items: center;
    padding-left: 11px;

    &:hover {
        opacity: 0.5;
    }
    &:active {
        background: $pink-background;
    } 
}

.filter__nav-item {
    position: relative;
    margin-top: 20px;
        
    &::before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 5px;
        height: 37px;
        background: $pink-nav-link;
    }

}

.filter__nav-sub-list {
   padding-left: 11px;
}

.filter__nav-sub-link {
    @include font (14px, 17px);
    text-decoration: none;
    color: $grey-link;
      
    &:hover {
        color: $dark-black;
    }
    &:active {
        color: $pink-color;
    }
}

.filter__icon-img {
    width: 10px;
    height: 15px;
    @include mobile {
        width: 37px;
        height: 25px;
    }
}



