.shipping__title {
    @include font (16px, 19px);
    font-weight: 300;
    text-transform: uppercase;
}

.shipping__form-wrap {
    @include tablet {
        display: flex;
        flex-direction: row; 
        flex-wrap: nowrap;    
    }
}

.shipping__form {
    margin-bottom: 57px;
    input[type="text"] {
        @include form;          
    
        &:focus {
        color: $grey-border;       
        }
    }
    @include tablet {
        width: 100%
    }
}

.shipping__button {
    @include font (11px, 13px);
    font-weight: 300;
    color: $grey-border;
    border: 1px solid $grey-border;
    background: $white-color; 
    text-transform: uppercase;
    width: 100px;
    height: 34px;
    margin-top: 24px;
    &:focus {
        outline: none;
        border: 1px solid $pink-color;
    }
    &:hover {
        border: 1px solid #222;
    }
    &:active {
        border: 1px solid $pink-color;
    }
}

.shipping__total {
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 214px;
    background: $pink-shipping;
    padding: 39px 34px 42px 43px;
    box-sizing: border-box;       
}

.shipping__sub-total {
    @include font (11px, 13px);
    color: $grey-border;
    text-align: right;
    text-transform: uppercase;
}

.shipping__grang-total {
    @include font (16px, 19px);
    font-weight: 300;
    color: $dark-black;
    text-align: right;
    text-transform: uppercase;
    margin-top: 10px;
}
.shipping__cost {
    padding-left: 40px;
}

.shipping__total-button {
    position: relative;
    display: block;
    width: 273px;
    height: 50px;
    background-color: $pink-color;
    @include font (16px, 19px);
    color: $white-color;
    border: none;
    text-transform: uppercase;
    margin-top: 39px;    
    
    &:focus {
        outline: none;        
    }
    &:hover {
        opacity: 0.8;
    }
    &:active {
        opacity: 0.5;
    }

    &::before {
        display: block;
        position: absolute;
        content: "";
        width: 275px;
        height: 1px;
        background: $light-grey;
        top: -17px;
        left: -1px;     
    }
}